html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cabecalho-principal {
  background-color: #1c3553;
  text-align: center;
}

.barra-navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1c3553;
  border-top: 5px solid #ff8c42;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-navegacao {
  display: flex;
  gap: 30px;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

.menu-navegacao a:not(.btn-denunciar) {
  position: relative;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-bottom: 5px;
}

.menu-navegacao a:not(.btn-denunciar)::after {
  content: ""; /* Obrigatório: Cria a caixinha vazia */
  position: absolute; /* Deixa a linha livre para flutuar debaixo do texto */
  left: 0; /* Alinha no canto esquerdo da palavra */
  bottom: 0; /* Cola na base da palavra */

  /* O Design da Linha */
  height: 2px; /* A grossura da linha */
  background-color: #ff8c42; /* O seu laranja */

  /* O estado inicial: encolhida! */
  width: 0%;

  /* A instrução de animação (demora 0.3 segundos para crescer) */
  transition: width 0.3s ease;
}

.menu-navegacao a:not(.btn-denunciar):hover::after {
  width: 100%; /* A linha cresce para ocupar toda a palavra */
}

.link-menu-header:hover {
  color: #ff8c42;
}

.area-destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 60px;
}

.btn-saiba-mais {
  background-color: #ff8c42;
  color: white;
  padding: 12px 30px;
  border-radius: 5px;
  font-weight: bold;
}

.texto-logo {
  background-color: #ff8c42;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-logo p {
  color: white;
  margin: 0;
}

.btn-denunciar {
  border: 1px solid #ff8c42; /* Cria a linha em volta */
  padding: 8px 20px;
  border-radius: 5px;
  color: #ff8c42;
  transition: all 0.3s ease;
}

.btn-denunciar:hover {
  background-color: #ff8c42;
  color: white;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.subtitulo-header {
  text-align: center;
  color: #e2e8f0;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

body {
  background-color: #f4f7f6;
  margin: 0;
  color: black;
}

p {
  text-align: center;
  color: #1a3a5a;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1300px; /* 1. Limita a largura máxima para os cards não sumirem para os lados */
  margin: 0 auto; /* 2. A MÁGICA: Centraliza a caixa inteira perfeitamente no meio da tela */
  padding: 20px;
}

.card {
  width: 100%;
  border-radius: 15px;
  border: 1.5px solid #f4eeeb;
  border-width: 2px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.703);
  box-shadow: 0 8px 15px rgba(179, 162, 162, 0.05);
  transition: box-shadow 0.3s ease;
  text-align: left;
}
.card:hover {
  box-shadow: 0 12px 25px rgba(90, 95, 111, 0.181); /* Aumenta a sombra, fazendo o card "flutuar" */
  border-color: #ff8c42;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 15px;
  font-family: "Segoe UI", sans-serif;
}

.icone-card {
  background-color: #fff0e6;
  color: #ff8c42;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  flex-shrink: 0;
}

.card-title {
  color: #1a3a5a;
  font-size: 1.2rem;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.card-description {
  color: #504d4dd0;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-left: 100px;
  text-align: left;
}

.secao-sobre {
  background-color: #f5f2f2;
  gap: 50px;
  padding: 60px 10%;
  color: #1a3a5a;
}

.secao-sobre h2 {
  color: #1a3a5a;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.coluna-historia h3,
.coluna-impacto h3 {
  color: #1a3a5a;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding: 40px 20px;
}

.conteudo-sobre {
  display: flex;
  align-items: flex-start;
  gap: 200px;
}

.coluna-historia {
  flex: 1.2;
  text-align: left;
}

.coluna-historia p {
  text-align: left;
  margin-left: 0;
  font-weight: 400;
}

.coluna-impacto {
  flex: 1;
}

.card-pessoas-atendidas,
.card-anos,
.card-programas {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
}

span {
  color: #ff8c42;
  font-weight: 700;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
}

.secao-eca-intro {
  background-color: #f4f7f6;
  padding: 80px 20px;
  text-align: center;
}

.container-intro {
  max-width: 800px;
  margin: 0 auto;
}
.tag-lei {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #ff8c42;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.tag-lei span {
  color: #ff8c42;
  font-weight: 300;
}

.secao-eca-intro h2 {
  color: #1c3553;
  font-size: 32px;
  margin-bottom: 25px;
}

.texto-intro {
  color: #504d4dd0;
  font-size: 19px;
  line-height: 1.6;
  font-weight: 490;
  text-align: justify;
}
.container-duas-colunas {
  display: flex;
  gap: 120px;
  max-width: 1300px;
  margin: 60px auto 0 auto;
  text-align: left;
}

.coluna-artigos,
.coluna-historico {
  flex: 1;
}

.item-artigo {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rbga (0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.tag-artigo {
  background-color: #fff0e6;
  color: #ff8c42;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

.conteudo-artigo h4 {
  color: #1c3553;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
}

.conteudo-artigo p {
  color: #504d4dd0;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  text-align: left;
}

.titulo-coluna {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1c3553;
  font-size: 22px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.titulo-coluna span {
  color: #ff8c42;
}

.item-historico {
  position: relative;
  border-left: 2px solid #e2e8f0;
  padding-left: 25px;
  padding-bottom: 35px;
}

.item-historico::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: #ff8c42;
  border-radius: 50%;
}
.ano-historico {
  color: #ff8c42;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.item-historico p {
  color: #504d4dd0;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

.card-curiosidade {
  background-color: #fff8f4;
  border: 1px solid #f2e2d9;
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
}

.titulo-curiosidade {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ff8c42;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-curiosidade p {
  color: #1c3553;
  font-size: 14.5px;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
  text-align: left;
}

.card-alerta {
  background-color: #fff0f0;
  border: 1px solid #ffd6d6;
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
}

.titulo-alerta {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #e53935;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
}

.titulo-alerta span {
  color: #e53935;
}

.card-alerta p {
  color: #c62828;
  font-size: 14.5px;
  line-height: 1.6;
  margin: 0;
  text-align: left;
  font-weight: 400;
}
.chamada-direitos p {
  margin-top: 70px;
  text-align: center;
  color: #1c3553;
}

.chamada-direitos a {
  color: #ff8c42;
  font-weight: 400;
  text-decoration: none;
}

.secao-conselhos {
  background-color: #f4f7f6;
  padding: 80px 20px;
  text-align: center;
}

.secao-conselhos h2 {
  color: #1c3553;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 26px;
}

.subtitulo-conselhos {
  color: #504d4dd0;
  margin: 30px;
  font-weight: 400;
  text-align: center;
}

.lista-conselhos-horizontal {
  display: flex;
  flex-direction: column;
  gap: 35px; /*desgruda os cards*/
  max-width: 900px;
  margin: 0 auto;
}

.card-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
  padding: 30px;
  transition: all 0.3s ease;
  border: 1.5px solid #f4eeeb;
  border-width: 2px;
}

.card-horizontal:hover {
  box-shadow: 0 12px 25px rgba(90, 95, 111, 0.181); /* Aumenta a sombra, fazendo o card "flutuar" */
  border-color: #ff8c42; /* Pinta a borda de laranja */
}

.bloco-texto {
  flex: 1;
  padding-right: 40px;
  text-align: left;
}
.bloco-texto h3 {
  color: #1a3a5a;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.linha-detalhe {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  align-items: baseline;
}

.linha-detalhe .rotulo {
  color: #8892a0;
  font-size: 14px;
  min-width: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.linha-detalhe p {
  color: #1c3553;
  font-size: 14px;
  margin: 0;
}

.bloco-mapa-direito {
  width: 260px;
  height: 160px;
  flex-shrink: 0;
}
.bloco-mapa-direito iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid #e2e8f0;
  display: block;
}

.cabecalho-denuncia h2 {
  font-size: 38px;
  font-family: "Segoe UI Symbol";
}

.cabecalho-denuncia p {
  text-align: center;
  color: #8892a0;
  font-weight: 300;
  font-family: "Poppins" sans-serif;
}

.secao-denuncia {
  background-color: #1c3553; /* Fundo escuro */
  padding: 80px 20px;
  color: white; /* Letras brancas para dar contraste */
  text-align: center;
}

.container-denuncia {
  max-width: 1000px;
  margin: 0 auto;
}

.grid-denuncia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.card-denuncia {
  background-color: #243f5f;
  padding: 35px;
  border-radius: 12px;
  text-align: left;
  transition: transform 0.3s ease;
  box-shadow: #000000b3;
}

.card-denuncia .icone-card {
  border-radius: 30%;
  color: #ff8c42;
  background-color: #ffa06544;
  margin: left;
}

.card-destaque .icone-card {
  border-radius: 30%;
  color: #ffffff;
  background-color: #fad4bc44;
  margin: left;
}

.card-destaque {
  background-color: #fc8f4b;
}

.categoria {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.8;
}

.card-denuncia h3 {
  font-size: 24px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .card-horizontal {
    flex-direction: column;
    padding: 20px;
  }

  .bloco-texto {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .bloco-mapa-direito {
    width: 100;
  }

  .main {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .container-duas-colunas {
    flex-direction: column;
    gap: 40px;
  }

  .barra-navegacao {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }

  .menu-navegacao {
    flex-wrap: wrap;
    justify-content: center;
  }

  .area-destaque {
    padding: 20px;
  }
}
