* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.botao-saiba-mais {
  background-color: #ff8c42;
  margin-bottom: 50px;
  height: 50px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.404);
  transition: all 0.3s ease;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

body {
  background-color: #f4f7f6;
  margin: 0;
}

header {
  background-color: #1e3a5f;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

p {
  text-align: center;
  color: #1a3a5a;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.card {
  margin: 3px;
  background-color: grey;
  width: 400px;
  min-height: 160px;
  border-radius: 15px;
  border: 1.5px solid #c1bbb6;
  border-width: 2px;
  padding: 25px;
  background-color: rgba(253, 244, 235, 0.703);
  text-align: center;
  box-shadow: 0 8px 15px rgba(179, 162, 162, 0.05);
  transition: box-shadow 0.3s ease;
  text-align: left;
}
.card:hover {
  box-shadow: 0 12px 25px rgba(90, 95, 111, 0.181);
  border-color: #ff8c42;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 15px;
  font-family: "Segoe UI", sans-serif;
}

.badge {
  background-color: #ff9238;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-shrink: 0;
}

.card-title {
  color: #1a3a5a;
  font-size: 1.1rem;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.card-description {
  color: #504d4dd0;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-left: 55px;
  text-align: left;
}

.card:nth-child(10) {
  grid-column: 2;
}

.secao-sobre {
  background-color: #f5f2f2;
  gap: 50px;
  padding: 60px 10%;
  color: #1a3a5a;
}

.secao-sobre h2 {
  color: #1a3a5a;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.coluna-historia h3,
.coluna-impacto h3 {
  color: #1a3a5a;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding: 40px 20px;
}

.conteudo-sobre {
  display: flex;
  align-items: flex-start;
  gap: 200px;

}

.coluna-historia {
  flex: 1.2;
  text-align: left; 

}

.coluna-historia p {
    text-align: left;
    margin-left: 0;
    font-weight: 400;
}

.coluna-impacto {
  flex: 1;
}

.card-pessoas-atendidas,
.card-anos,
.card-programas {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins",sans-serif;
}

span {
  color: #ff8c42;
  font-weight: 700;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
}
